.pagination{
    color: black;
    display: flex;
    justify-content: center;
}

.page_item, .btn{
    :hover{
        background-color: rgb(233, 233, 233);
    }
    cursor: pointer;
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.selected_page{
    background-color: rgb(201, 201, 201);
    border-radius: 5px;
    border: 1px solid black;
    box-sizing: border-box;
}