.pagination{
    color: black;
    display: flex;
    justify-content: center;
}

.page_item, .btn{
    :hover{
        background-color: rgb(240, 240, 240);
    }
}

.page_link, .btn{
    cursor: pointer;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
// .page_link div{
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }